body {
    background-color: #A89C7C;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

.container {
    max-width: 600px;
}

.logo {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #3D3D3B;
    margin-bottom: 20px;
}

.address {
    font-size: 16px;
    color: #3D3D3B;
}

footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.impressum {
    font-size: 14px;
    color: #3D3D3B;
    text-decoration: none;
}
